.nitro-pet-breeding {
    width: 280px;
    min-height: auto;

    .pet-breeding-desc {
        margin-bottom: 8px;
        font-size: 13px;
        color: #000;
    }

    .pet-breeding-box {
        font-size: 11px;
        background: #ffffff;
        border-radius: 6px;
        padding: 10px;
        min-height: 40px;
    }

    .pet-breeding-box p {
    margin-bottom: 6px;
}

    .pet-breeding-section-title {
    font-size: 11px;
    font-weight: bold;
    color: #000;
    margin-bottom: 4px;
    }

    .pet-breeding-odds {
        margin-top: 8px;
    }

    .odds-row {
        display: flex;
        justify-content: space-between;
        font-size: 10px;
        line-height: 1.4;
    }

    .odds-label {
        font-weight: bold;
    }

    .odds-value {
        color: #000;
    }
}
