.nitro-toolbar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: $toolbar-height;
    z-index: $toolbar-zindex;
    pointer-events: all;
    background: #2e2d2cc2;
    box-shadow: inset 0px 5px 0px -3px #53524Ec2, inset 0px -4px 0px -3px #494845c2;
    border-top: 1px solid #0000004d;

    .toolbar-left-side {
        padding-left: 10px;
        padding-right: 15px;
        border-right: 1px solid #454442;
        height: 40px;
    }

    .margin-friends {
        margin-right: 44px;
    }

    .toolbar-left-collapse {
        background-image: url(@/assets/images/toolbar/collapse_left.png);
        background-repeat: no-repeat;
        background-color: transparent;
        height: 43px;
        width: 14px;
        max-width: 14px;
        position: absolute;
        left: 0px;
        border: none;
    }

    .toolbar-left-collapse-active {
        background-image: url(@/assets/images/toolbar/collapse_left_active.png);
        background-repeat: no-repeat;
        background-color: transparent;
        height: 43px;
        width: 14px;
        max-width: 14px;
        position: absolute;
        left: 0px;
        border: none;
    }

    .toolbar-right-side {
        padding-left: 15px;
        border-left: 1px solid #454442;
        height: 40px;
        padding-right: 10px;
    }

    .toolbar-right-collapse {
        background-image: url(@/assets/images/toolbar/collapse_right.png);
        background-repeat: no-repeat;
        background-color: transparent;
        height: 43px;
        width: 14px;
        max-width: 14px;
        position: absolute;
        right: 0px;
        border: none;
    }

    .toolbar-right-collapse-active {
        background-image: url(@/assets/images/toolbar/collapse_right_active.png);
        background-repeat: no-repeat;
        background-color: transparent;
        height: 43px;
        width: 14px;
        max-width: 14px;
        position: absolute;
        right: 0px;
        border: none;
    }

.navigation-item {
    position: relative;

    // Hover for regular navigation items (not avatar)
    &:hover:not(.item-avatar) {
        transform: translate(-1px, -1px);
        filter: drop-shadow(2px 2px 0 rgba(0, 0, 0, 0.8));
    }

    &.item-avatar {
    position: relative;
    width: 50px;
    height: 50px; // Changed from 45px
    overflow: visible;

    // Dark background circle
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 50px; // Changed from 38px
        height: 50px; // Changed from 38px
        background: url(@/assets/images/toolbar/icons/me-menu/memenu_bg.png) no-repeat center;
        background-size: contain;
        z-index: 1;
        pointer-events: none;
    }

    // Avatar container
    .avatar-image,
    .layout-avatar-image,
    [class*='layout-avatar-image'] {
        position: absolute;
        top: -20px;
        left: -1px;
        width: 50px;
        //height: auto;
        clip-path: circle(42px at 26px 22px);
        z-index: 2;
    }

    // Outer ring (on top)
    &::after {
        content: '';
        position: absolute;
        top: -3;
        left: 4;
        width: 45px; // Changed from 38px
        height: 45px; // Changed from 38px
        background: url(@/assets/images/toolbar/icons/me-menu/memenu_circle.png) no-repeat center;
        background-size: contain;
        z-index: 3;
        pointer-events: none;
    }

    // Hover state - applies to ALL children
        &:hover {
            &::before,
            &::after {
                transform: translate(-1px, -1px);
                filter: drop-shadow(2px 2px 0 rgba(0, 0, 0, 0.8));
            }

            // Avatar image hover
            .avatar-image,
            .layout-avatar-image,
            [class*='layout-avatar-image'] {
                transform: translate(-1px, -1px);
                filter: drop-shadow(2px 2px 0 rgba(0, 0, 0, 0.8));
            }
        }

        // Active/clicked state - reset ALL
        &.active,
        &:active {
            &::before,
            &::after {
                transform: none;
                filter: none;
            }

            .avatar-image,
            .layout-avatar-image,
            [class*='layout-avatar-image'] {
                transform: none;
                filter: none;
            }
        }
    }
}


    #toolbar-chat-input-container {

        @include media-breakpoint-down(sm) {
            width: 0px;
            height: 0px;
        }
    }
}

.nitro-toolbar-me {
    position: absolute;
    bottom: 52px;
    left: 15px;
    z-index: $toolbar-memenu-zindex;
    border-image-source: url(@/assets/images/toolbar/me_menu_bg.png);
    border-image-slice: 6 6 6 6 fill;
    border-image-width: 6px 6px 6px 6px;

    .me-text {
        font-size: 10px;
        color: #fff !important
    }

    .navigation-item {
        transition: filter .2s ease-out;
        filter: grayscale(1);

        &:hover {
            filter: grayscale(0) drop-shadow(2px 2px 0 rgba($black, 0.8));
        }
    }
}

.toolbar-icon-animation {
    position: absolute;
    object-fit: cover;
    height: auto;
    width: auto;
    max-width: 120px;
    max-height: 150px;
    z-index: 500;
    filter: drop-shadow(2px 1px 0 rgba($white, 1))
        drop-shadow(-2px 1px 0 rgba($white, 1))
        drop-shadow(0 -2px 0 rgba($white, 1));
}
